MNEMONIC="grid merge motion kidney airport meadow end floor thought timber where desk"
ENDPOINT="https://nois-testnet.rpc.kjnodes.com/"
# Optional 2nd endpoint used for broadcasting
ENDPOINT2=""
# Optional 3rd endpoint used for broadcasting
ENDPOINT3=""
NOIS_CONTRACT="nois14ex94lcyfsyjy3mj470yernkxykh2jvcvuepa63utqeuq4gggvmqx5sjm2"
CHAIN_HASH="8990e7a9aaed2ffed73dbd7092123d6f289930540d7651336225dc172e51b2ce"
DENOM="unois"
GAS_PRICE="0.05unois"
PREFIX="nois"
# A public nickname for this bot. When set, the bot will be registered on start.
MONIKER=""
